/vendor
.env

# "storage/" directory and its subdirectories must be present, they include their own .gitignore but it's clearer if they are listed on the main .gitignore
/storage/app/*
/storage/framework/cache/*
/storage/framework/views/*
/storage/logs/*

# NetBeans
/nbproject/

/.gitkeep
